
CoreMVcBlazorPractise/obj/*
APIPractise/obj/*
.vs/CSharpOopPractise/v16/*
CSharpOoopPractise/obj/*
CSharpOoopPractise/bin/*
APIPractise/bin/*
.vs/*
packages/xunit.extensibility.core.2.4.1/*
packages/xunit.abstractions.2.0.3/*
packages/xunit.assert.2.4.1/*
CoreMVcBlazorPractise/bin/*
CoreMVcBlazorPractise/bin/*
